In [ ]:
import pandas as pd
from sklearn import model_selection

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
dataframe = pd.read_csv('/content/mtcars.csv')
dataframe

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
dataframe.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [ ]:
X = dataframe[['mpg', 'cyl', 'disp', 'drat', 'wt', 'qsec', 'hp', 'am', 'gear', 'carb']].values
Y = dataframe[['vs']].values

In [ ]:
seed = 7
num_trees = 30

In [ ]:
kfold = model_selection.KFold(n_splits=num_trees, random_state=seed, shuffle=True)

In [ ]:
for train_set, test_set in kfold.split(dataframe):
  print('train_set ', train_set)
  print('test_set ', test_set)

train_set  [ 0  3  4  5  6  7  8 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 27
 28 29 30 31]
test_set  [ 1  2  9 26]
train_set  [ 0  1  2  3  4  6  7  8  9 10 11 12 14 15 17 18 19 21 22 23 24 25 26 27
 28 29 30 31]
test_set  [ 5 13 16 20]
train_set  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 22 23 24 25
 26 28 29 30 31]
test_set  [17 21 27]
train_set  [ 0  1  2  3  4  5  6  7  8  9 10 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30]
test_set  [11 12 31]
train_set  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 19 20 21 22 23 24 25
 26 27 28 29 31]
test_set  [ 0 18 30]
train_set  [ 0  1  2  3  4  5  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 25
 26 27 29 30 31]
test_set  [ 6 24 28]
train_set  [ 0  1  2  3  4  5  6  7  9 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 30 31]
test_set  [ 8 10 29]
train_set  [ 0  1  2  3  4  5  6  8  9 10 11 12 13 15 16 17 18 19 20 21 22 24 25 26
 27 28 29 30 31]
test_set  [ 7 14 23]
train_set  [ 0  1  2  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 23 24 25 26
 27 28 29 30 31]
test_set  [ 3 19 22]
train_set  [ 0  1  2  3  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 26
 27 28 29 30 31]
test_set  [ 4 15 25]

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.95

In [ ]:
from sklearn import svm
from xgboost import XGBClassifier

model = XGBClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.9666666666666667

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=num_trees)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.5666666666666667

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.9166666666666666